name: Fork Deploy Caller

# Harmonization update
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    # Hier werden die Pages- und Token-Rechte weitergegeben
    permissions:
      contents: write
      pages: write
      id-token: write
    with:
      publish_dir: '.'
      runs_on: ${{ github.repository != 'derlemue/villa-kunterbunt' && 'self-hosted' || 'ubuntu-latest' }}
    secrets: inherit
