name: Fork Deploy Caller

# Harmonization update
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      contents: write
      pages: write
      id-token: write
    uses: lemueIO/.github/.github/workflows/central-pages-logic.yml@main
    with:
      publish_dir: '.'
      runs_on: ${{ (github.repository == 'lemueIO/villa-kunterbunt' || github.repository == 'derlemue/villa-kunterbunt') && 'self-hosted' || 'ubuntu-latest' }}
    secrets: inherit
